@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Roboto;
}
.shadow1{
    box-shadow: 0px -1px 0px 0px black;
}

@media(min-width: 1280px) {
    .xl\:py-28 {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

}

@media (min-width: 1280px) {
    .xl\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1280px) {
    .xl\:gap-20 {
        gap: 5rem;
    }
}

@media (min-width: 1280px) {
    .xl\:gap-20 {
        gap: 5rem;
    }
}

@media (min-width: 1280px) {
    .xl\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media (min-width: 1280px) {
    .xl\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media(min-width: 1280px) {
    .xl\:bg-\[\#f7f7f7\] {
        --tw-bg-opacity: 1;
        background-color: rgb(247 247 247 / var(--tw-bg-opacity, 1));
    }
}

@media (min-width: 1280px) {
    .xl\:gap-16 {
        gap: 4rem;
    }
}

@media (min-width: 1280px) {
    .xl\:flex-row {
        flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .xl\:gap-20 {
        gap: 5rem;
    }
}

@media (min-width: 1280px) {
    .xl\:py-28 {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}

@media (min-width: 1280px) {
    .xl\:gap-20 {
        gap: 5rem;
    }
}

.hide{
    display: none;
}

@media (max-width: 1280px) {
    .hide{
        display:none;
    }
}